:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-petit-formal: var(--font-petit-formal-script), cursive;
  --font-montserrat: var(--font-montserrat), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.petit-formal-script {
  font-family: var(--font-petit-formal);
}

.montserrat {
  font-family: var(--font-montserrat);
}

.buttonStyle {
  color: #567356;
  background-color: white;
  border: 1px solid #567356;
  padding: 10px 20px;
  border-radius: 0px;
  cursor: pointer;
  text-decoration: none;
}
.buttonStyle:hover,
.buttonStyle:focus,
.buttonStyle:active {
  background-image: linear-gradient(rgb(0 0 0/5%) 0 0);
  background-color: white;
  border: 1px solid #567356;
  color: #567356;
}

.buttonStyleFilled {
  color: white;
  background-color: #567356;
  border: 1px solid #567356;
  padding: 10px 20px;
  border-radius: 0px;
  cursor: pointer;
}
.buttonStyleFilled:hover {
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
  background-color: #567356;
  border: 1px solid #567356;
}
.buttonStyleFilled:focus {
  background-color: white;
  color: #567356;
  border: 1px solid #567356;
}
