:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-petit-formal: var(--font-petit-formal-script), cursive;
  --font-montserrat: var(--font-montserrat), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.petit-formal-script {
  font-family: var(--font-petit-formal);
}

.montserrat {
  font-family: var(--font-montserrat);
}
